<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram Clone</title>
</head>
<body>

	<div class="main">

            <h1> Instagram Clone</h1>
            <h3>Sign Up</h3>
    </div>

    <div>
        <form method="post">
         {% csrf_token %}

            <div>
                <label for="username">Username: </label>
                <input id="username" type="text" name="username" minlength="4" value={{ username }}>
            </div>

            <div>
                <label for="name">Name: </label>
                <input id="name" type="text" name="name" value={{ name }}>
            </div>

            <div>
                <label for="email">Email: </label>
                <input id="email" type="text" name="email" value={{ email }}>
            </div>

            <div>

                <label for="password"> New Password: </label>

                <input id="password" type="password" name="password" minlength="5" value={{ password }}>
            </div>
            {% if form.errors %}
<div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
	{% for field in form %}
	<li>{{ field.errors|striptags }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

                <input type="submit" value="Submit">
        </form>


    </div><br><br>

    <div><h3>Already a user?</h3><a href="login/">
        <input type= "login" value="Login"></a> </div>
</body>
</html>