<form method="post">
{% csrf_token %}
      <div>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username" value={{ username }}>
      </div>

      <div>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password" value={{ password }}>
      </div>
      {% if form.errors %}
<div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
	{% for field in form %}
	<li>{{ field.errors|striptags }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}





      <input type="submit" value="Log In">

    </form>